<?xml version="1.0" encoding="utf-8"?>
<!--
  نسخه اصلاح‌شده و امن Web.config سرویس AtiranLocalServices
  تغییرات نسبت به نسخه اصلی (شرح کامل در docs/REVIEW-FA.md):
    ۱) حذف نام کاربری و رمز عبور پایگاه داده از فایل (به‌جای آن از جای‌نگهدار و راهنمای رمزنگاری استفاده کنید)
    ۲) بستن directoryBrowse (در نسخه اصلی روشن بود)
    ۳) خاموش‌کردن includeExceptionDetailInFaults (جزئیات خطا به مشتری نشت نمی‌کند)
    ۴) محدودکردن متادیتا به محیط داخلی
    ۵) خاموش‌کردن Debug در فایل .svc
-->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5.2" debug="false" />
    <!--  محدودیت حجم درخواست برای جلوگیری از حملات DoS  -->
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2048" executionTimeout="120" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="AtiranLocalServices.LocalServices" behaviorConfiguration="ServiceBehaviour">
        <endpoint name="rest" address="" binding="webHttpBinding" contract="AtiranLocalServices.ILocalServices" behaviorConfiguration="web"></endpoint>
        <!-- در محیط عملیاتی، نقطه پایانی mex را حذف کنید -->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <serviceMetadata httpGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="1000000" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <!-- حداکثر اندازه پیام محدود شد (در نسخه اصلی بدون سقف بود) -->
        <binding crossDomainScriptAccessEnabled="true" maxBufferSize="2097152" maxReceivedMessageSize="2097152" />
      </webHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--  دایرکتوری‌مرور بسته شد  -->
    <directoryBrowse enabled="false" />
    <validation validateIntegratedModeConfiguration="false" />
    <!--  هدرهای امنیتی  -->
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <!--
    رشته اتصال: به‌جای درج رمز در فایل، از رمزنگاری استفاده کنید:
      aspnet_regiis -pe "connectionStrings" -app "/AtiranLocalServices"
    و در IIS یک اکانت پایگاه داده با حداقل دسترسی (فقط خواندن/نوشتن روی جداول لازم) بسازید.
  -->
  <connectionStrings>
    <add name="sacEntities" connectionString="metadata=res://*/DataAccess.SACModel.csdl|res://*/DataAccess.SACModel.ssdl|res://*/DataAccess.SACModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SERVERNAME;initial catalog=sac;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>
